{% load static %}

<!DOCTYPE html>
<html>
<head>

<title>Settings</title>

<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">

</head>

<body>

<div class="sidebar">

<h2>Finance</h2>

<ul>

<li><a href="/">Dashboard</a></li>
<li><a href="/profile/">Profile</a></li>
<li><a href="/settings/">Settings</a></li>

</ul>

</div>

<div class="main">

<h1>Settings</h1>

<div class="card">

<p>Theme: Light</p>

<p>Email Notifications: ON</p>

<p>Currency: INR</p>

</div>

</div>

</body>
</html>